body{
    margin:0;
    font-family: 'Montserrat';
}
.purple-area{
    width: 1280px;
    height: 442px;
    background-color:#6c63ff;
    display: flex;
    position: relative;
    overflow: hidden;
}
.backround-circles{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.rectangle{
    background-color: rgba(229, 229, 229, 0.25);
    border: 0.1px solid #6c63ff;
    border-radius: 50%;
}
#rec1{
    width: 195px;
    height: 195px;
    margin-left: 117px;
    margin-top: 30px;
}
#rec2{
    width: 371px;
    height: 371px;
    margin-left: 20px;
    margin-top: 165px;
}
#rec3{
    width: 195px;
    height: 195px;
    margin-left: 305px;
    margin-top: 30px;
}
.top-layer{
    display: flex;
    position: absolute;
    top: 62px;
    left: 117px;
    z-index: 2;
}
.text {
    width: 152px;
    color:white;
    font-size: 33px;
    font-style: italic;
    font-weight: 300;
    line-height: 40.23px;
    text-align: left;
    text-decoration-skip-ink: none;
}
.text hr{
    width: 58px;
    margin-left: 0px;
}
.button{
font-size: 22px;
font-weight: 400;
line-height: 26.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.circle{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    color: black;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px;
    padding: 10px;

}
.comments{
    display: flex;
    margin-left: 170px;
}
.comment{
    width: 298px;
    height: 306px;
    background-color: white;
    margin-right: 18px;
    border-radius: 5%;
}
.comment p{
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 35.18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 20px;
}
.user{
    display: flex;
}
.user img{
    width: 59px;
    height: 59px;
    border-radius: 50%;
}
