body{
    margin:0;
    padding: 0 30px;
    font-family: "Open Sans", sans-serif;
}

.Navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar-Center{
    display: flex;
    align-items: center;
}

.Option{
    margin: 0px 20px;
    font-weight: 700;
}

.Navbar-Right{
    display: flex;
    align-items: center;
}

.SignInButton{
    margin-left: 10px;
    font-weight: 700;
    border:1px solid #B7B3B3;
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterButton{
    margin-left: 10px;
    font-weight: 700;
    border:1px solid #B7B3B3;
    background-color: #6C63FF;
    color:#FFFFFF;
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProgressContainer{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.Progress{
    width: 423px;
    height: 327px;
}

.ProgressHeader h2{
    font-size: 40px;
    font-weight: 600;
}

.Line{
   margin-left: 0px;
   width: 30px;
   size: 30px;
   height: 2px;
   color: #6C63FF;
   background-color: #6C63FF;
    
}

.Explain{
    color: #a3a1a1;
    font-size: 20px;
    width: 350px;
    line-height: 22px;
}

.ButtonContainer{
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin-top: 40px;
}

.Register_Button{
    margin-right: 5px;
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #353434;
    background-color: #6C63FF;
    color: #FFFFFF;
}

.LearnMore_Button{
    margin-left: 5px;
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B7B3B3;
}

.ProgressImage{
    width: 509px;
    height: 364px;
}

.ProgressImage img{
    width: 509px;
    height: 364px;
}